html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 25px;
  background-color: rgb(231, 224, 224);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header p {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

ul {
  padding: 0;
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

nav ul li {
  margin: 0 15px 15px 15px;
}

.asides-container {
 display: flex;
 flex-direction: column;
 width: 100%;
 justify-content: center;
}

aside h2 {
  font-size: 1em;
}

.aside-two ul {
  list-style: square;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content h1 {
  font-size: 1.0em;
  text-align: center;
}

.main-content p {
  font-size: 1.1em;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer h3 {
  font-size: 1.2em;
  text-align: center;
}

@media screen and (min-width: 840px) and (max-width: 1099px) {
  body {
    background-color: rgb(180, 196, 196);
  }

  .asides-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1100px) {
  body {
    background-color: rgb(211, 233, 233);
  }

  .container {
    flex-flow: row wrap;
  }

  header {
    width: 100%;
    font-size: ;
  }

  .asides-container {
    width: 40%;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 20px;
  }

  .main-content {
    width: 50%;
  }
}
