body {
  font-size: 16px;
}

h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-align: center;
}

p {
  font-weight: 600;
  font-size: 3em;
  text-decoration:underline;
  text-align:center;
}

ul {
  color:white;
  font-style:oblique;
  line-height: 30px;
}

.p-ul {
  background-color: green;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#black {
  background-color: black;
}