ol{
  background-color: yellow;
}

ol li:nth-of-type(even){
  color: green;
}

ol li:nth-of-type(odd){
  text-transform: uppercase;
}

.header{
  color: red;
}

.header em{
  font-size: 40px;
  border: 1px solid black;
}

li{
  font-size: 20px;
}

li em{
  font-weight: bold;
}

#languages li:nth-child(-n+3){
  color: blue;
}

.java{
  background-color: pink;
}

#aliados li a:hover{
  font-weight: bold;
}

#aliados a[href*="mozilla"]:hover{
  color:black
}

#aliados a[href*="w3"]:hover{
  color:green
}

#aliados a[href*="stackover"]:hover{
  color:orange
}

#aliados a[href*="devdocs"]:hover{
  color:yellow
}

#aliados a[href*="trybe"]:hover{
  color:green
}