.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 380px;
  left: 60px;
}

.baloon {
  position: absolute;
  left: 210px;
  top: 140px;
}

.speach {
  font-size: 25px;
  position:absolute;
  z-index: 2;
  top: 185px;
  left: 230px;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 230px;
  left: 500px;
}